<!-- SELECT2 EXAMPLE -->
<div class="card card-outline card-primary ">
    <div class="card-header">
        <h3 class="card-title"> Agregar Producto</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form action="/producto_add"   method="POST" enctype="multipart/form-data" >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Select</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                    </select>
                </div>
             </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label class="" for="minimo">Imagen</label>
                        <input type="file" class="form-control-file" name="img">
                </div>
             </div>
        </div>
        <button type="submit" class="btn btn-primary"> Enviar </button>
        </from>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
</div>