
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 15px;
    left: 6px;
    height: 25px;
    width: 25px;
    box-shadow: 0 0 9px #444;
    line-height: 24px;
    content: '+';
    background-color: #0275d8;
}