<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav fa-pull-right">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    {{#if user}}
    <a href="/logout" class="nav-link">Cerrar Sessión</a>
    <input type="text" value="{{user.idUSUARIO}}" id="txtIdUser" hidden> </input>
    <input type="text" hidden disabled value="{{user.Idroles}}" id="userRol">
    {{else}}
    <a href="/signin" class="nav-link">Login</a>
    {{/if}}
    <!-- Notifications Dropdown Menu -->
    {{#if user}}
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">1</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header">Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> 4 new messages
          <span class="float-right text-muted text-sm">3 mins</span>
        </a>

        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">...</a>
      </div>
    </li>
    {{/if}}
  </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/profile" class="brand-link">
    <img src="http://localhost:4000/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Jovida</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {{#if user}}
     
        <!-- MODULO INVENTARIO GENERAL -->
        <li class="nav-item has-treeview" id="inventarioGeneral">
          <a href="#" class="nav-link"> <i class="fas fa-cogs mr-2"></i></i> </i>
            <p>Inventario General <i class="fas fa-angle-left right "></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/producto_list" class="nav-link">
                <i class="fas fa-boxes mr-1 ml-1"></i>
                <p>Productos</p>
              </a>
              <a href="/historialGeneral_list" class="nav-link">
                <i class="fas fa-receipt mr-1 ml-1"></i>
                <p>Historial</p>
              </a>
            </li>      
          </ul>
        </li>
        <!-- FIN MODULO INVENTARIO GENERAL -->
        <!-- MODULO BODEGA GENERAL -->
        <li class="nav-item has-treeview" id="bodegaGeneral">
          <a href="#" class="nav-link"> <i class="fas fa-boxes mr-2"></i></i> </i>
            <p> Materia Prima <i class="fas fa-angle-left right "></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="bodegas.html" class="nav-link">
                <i class="fas fa-boxes mr-1 ml-1"></i>
                <p>Bodegas</p>
              </a>
              </a>
            </li>
            <!-- SUB MODELUO DE MANTENIMIENTO -->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link"> <i class="fas fa-cogs mr-2"></i></i> </i>
                <p>Mantenimientos <i class="fas fa-angle-left right "></i> </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="bodegas.html" class="nav-link">
                    <i class="fas fa-boxes mr-1 ml-1"></i>
                    <p>Productos</p>
                  </a>
                </li>
              </ul>
            </li>
            <!-- FIN SUB MODELUO DE MANTENIMIENTO -->
          </ul>
        </li>
        <!-- FIN MODULO BODEGA GENERAL -->
        <!-- MODULO BODEGA DE ACCESORIOS -->
        <li class="nav-item has-treeview" id="bodegaAccesorios">
          <a href="#" class="nav-link"> <i class="fas fa-tools mr-2"></i></i> </i>
            <p> Accesorios <i class="fas fa-angle-left right "></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/producto_list" class="nav-link">
                <i class="fas fa-boxes mr-1 ml-1"></i>
                <p>Productos</p>
              </a>
              <a href="/historialGeneral_list" class="nav-link">
                <i class="fas fa-receipt mr-1 ml-1"></i>
                <p>Historial</p>
              </a>
            </li>      
          </ul>
        </li>
        <!--FIN  MODULO BODEGA DE ACCESORIOS -->
        <!-- MODULO USUARIOS GENERAL -->
        <li class="nav-item has-treeview" id="moduloUsuarios">
          <a href="#" class="nav-link"> <i class="fas fa-users mr-2"></i></i> </i>
            <p> Usuarios <i class="fas fa-angle-left right "></i> </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/user_list" class="nav-link">
                <i class="fas fa-user mr-1 ml-1"></i>
                <p>Usuario</p>
              </a>
              </a>
            </li>
          </ul>
        </li>
        <!-- FIN MODULO USUARIOS GENERAL -->
        {{/if}}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>